<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:tools="http://schemas.android.com/tools"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-feature
        android:name="android.hardware.vulkan.level"
        android:required="true"
        android:version="4202496"
        tools:targetApi="24" />
    <uses-feature android:name="android.hardware.vulkan.version"
        android:required="true"
        android:version="1"
        tools:targetApi="24" />
    <meta-data android:name="com.android.graphics.injectLayers.enable"
        android:value="true"/>
    <application
        android:hasCode="false"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Native Vulkan C++ App"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">
        <activity
            android:name="android.app.NativeActivity"
            android:label="NativeCppApp"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar.Fullscreen"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="native_app" /> 
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
